// fonts variable
$body-font: "Fira Sans", sans-serif!default;
$heading-font: "Ubuntu", sans-serif !default;
$breadcrumbs-font: "Instrument Sans", sans-serif !default;
// color variable
:root {
  --heading-color: #222627;
  --body-color: #616669;
  --accent-color: #2F2BEB;
  --accent-color2: #2BC8EB;
  --white-color: #ffffff;
  --white-bg: #ffffff;
  --accent-bg: #2F2BEB;
  --accent-bg2: #2BC8EB;
  --accent-bg3: #0256FE;
  --light-color: #F5F4FF;
  --light-color2: #E6EEFF;
  --light-color3: #F9F9F9;
  --light-color4: #D9D9D9;
  --light-color5: #838588;
  --dark-color1: #01194B;
  --dark-color2: #113866;
  --white-smoke: #F7F7F7;
}

$colors: (
 
);

$bodyfontScale: (
  xl: (
    20: 20px,
    lineheight: 32px,
  ),
  lg: (
    18: 18px,
    lineheight: 28px,
  ),
  md: (
    16: 16px,
    lineheight: 24px,
  ),
  xs: (
    14: 14px,
    lineheight: 22px,
  ),
  xss: (
    12: 12px,
    lineheight: 20px,
  ),
);

// button font size
$button_font_size: 16px;
$buton_line_height: 26px;
$buton_border_radius: 6px;
$button_padding: 17px 44px;
$button_font_weight: 700;
$button_font_family: $body-font;

