
.techin-default-btn,
#techin-submit-btn {
  font-size: $button_font_size;
  line-height: $buton_line_height;
  padding: $button_padding;
  font-weight: $button_font_weight;
  font-family: $button_font_family;
  width: fit-content;
  position: relative;
  z-index: 1;
  border-radius: 6px;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-flex;
  text-align: center;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  overflow: hidden;
  color: var(--white-color) !important;
  background-color: var(--accent-bg);
  position: relative;
  z-index: 0;
  overflow: hidden;
  position: relative;
  transform-style: preserve-3d;
  &.btn2{
    color: var(--heading-color)!important;
    background-color: var(--accent-bg2);
  }
  &.btn3{
    width: 100%;
    justify-content: center;
  }
  &.blog-btn{
    width: 230px!important;
    background-color: #0256FE;
  }
  &.blog-btn1{
    padding: 7px 30px;
    position: absolute;
    bottom: 0;
    left: 140px;
    opacity: 0;
    &:hover{
      color: var(--heading-color)!important;
      background-color: var(--accent-bg2);
    }
  }
  &.blog-btn2{
    padding: 7px 30px;
    position: absolute;
    bottom: 0px;
    left: 140px;
    opacity: 0;
    &:hover{
      color: var(--heading-color)!important;
      background-color: var(--accent-bg2);
    }
  }
  &.techin-cta-btn{
    color: var(--heading-color)!important;
    background-color: var(--accent-bg2);
  }
  &.techin-header-btn{
    font-size: 24px;
    padding: 17px 37px;
    color: var(--heading-color);
    background-color: var(--accent-bg2);
    &:hover{
      color: var(--accent-color)!important;
      background-color: var(--white-bg);
      
    }
    @include max (767px){
      display: none;
    }
  }
  &.techin-service-btn{
    padding: 7px 32px;
  }
  &.techin-service-btn2{
    padding: 7px 32px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  &.btn-hover{
    &:hover{
      background: var(--white-color)!important;
      color: var(--heading-color)!important;
    }
  }
 
  &.outline-btn{
    padding: 14px 40px;
    color: var(--heading-color)!important;
    background-color: transparent;
    border: 2px solid var(--heading-color);
    transition: all 0.4s;
    &:hover{
      color: var(--white-color)!important;
      background: var(--accent-color);
      border: 2px solid var(--accent-color);
    }
  }

  &.dark-btn{
    color: var(--white-color)!important;
    background-color: var(--dark-bg);
  }
  &.disabled,
  &:disabled {
    opacity: 1;
  }

  &.d-block {
    width: 100%;
  }

  &.pill {
    border-radius: 4px;
  }

  &.btn-icon {
    padding: 9px 24px;
  }

  &:focus {
    box-shadow: none;
  }
  &.pricing-btn-v4:hover {
    color: var(--heading-color)!important;
    background-color: var(--accent-color);
  }
  &.pricing-btnv4:hover {
    color: var(--white-color)!important;
    background-color: var(--heading-color);
  }
  
}


.techin-default-btn::before,
#techin-submit-btn::before {
  position: absolute;
  content: '';
  border-radius: inherit;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: 102% 102%;
  opacity: 0;
}
.techin-default-btn .button-wraper, 
#techin-submit-btn .button-wraper {
  transition: opacity 0.2s, transform 0.2s;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.techin-default-btn:hover .button-wraper, 
#techin-submit-btn:hover .button-wraper {
  transform: translateY(-150%);
  opacity: 0;
}
.techin-default-btn:hover::before, 
#techin-submit-btn:hover::before  {
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
}
.techin-default-btn:hover::after, 
#techin-submit-btn:hover::after {
  transform: translate(0%, -50%);
  opacity: 1;
}


.techin-default-btn:after, 
#techin-submit-btn:after {
  content: attr(data-text);
  display: inline-block;
  position: absolute;
  top: 50%;
  opacity: 0;
  line-height: 12.5px;
  transform: translate(0, 100%);
  transition: opacity 0.2s, transform 0.2s;
  transition-timing-function: cubic-bezier(0.455, 0.03, 0.515, 0.955);
  white-space: nowrap;
}
// .techin-title-btn2 {
//   @include max (991px){
//     width: 100%;
//     text-align: center;
//     margin-top: 30px;
//     display: flex;
//     align-items: center;
//     justify-content: start;
//   }
// }



