.techin-cta{
    &-section{
        position: relative;
        z-index: 1;
        padding: 110px 170px;
        max-width: 1920px;
        border-radius: 20px;
        background-position: center;
        background-size: cover;
        width: calc(100% - 240px);
        margin: 0 auto;
        @include max (1399px){
            padding: 110px 100px;
        }
        @include max (1199px){
            padding: 80px;
            width: calc(100% - 60px);
        }
        @include max (767px){
            padding: 60px 15px;
            width: 100%;
        }
        &.cta-v1{
            margin-top: -160px;
            @include max (1199px){
                margin-top: -130px;
            }
            @include max (991px){
                margin-top: 50px;
            }
        }
        &.mt-160{
            margin-top: -163px;
        }
    }
    &-section2{
        padding: 110px 170px;
        background-position: center;
        background-size: cover;
        @include max (1399px){
            padding: 110px 100px;
        }
        @include max (1199px){
            padding: 80px;
        }
        @include max (767px){
            padding: 60px 0;
        }
    }
    &-content {
        &-top{
            display: flex;
            gap: 7px;
            margin-bottom: 10px;
            h6{
                color: var(--white-color);
            }
            @include max (991px){
                justify-content: center;
            }
        }
        &-bottom{
            h2{
                color: var(--white-color);
            }
            @include max (991px){
                text-align: center;
            }
        }
    }
}
.techin-title-btn {
    @include max (991px){
        width: 100%;
        text-align: center;
        margin-top: 30px;
    }
}