.techin-faq{
    &-content-wrap{
        margin-left: 50px;
        padding: 70px 0;
        @include max (991px){
            margin-left: 0;
        }

        .faq-title{
            padding-bottom: 50px;
            @include max (991px){
                padding-bottom: 40px;
            }
        }
    }
    &-item{
      position: relative;
      border-radius: 10px;
      transition: all .4s;
      max-width: 1095px;
      margin: 0 auto 24px;
        &.open {
          .techin-active-icon{
            background-color: var(--white-bg);
            img{
                transform: rotate(180deg);
            }
          }
          .techin-faq-header{
            background-color: var(--accent-color);
            border-radius: 6px 6px 0 0;
            h6{
              color: var(--white-color);
            }
          }
          .techin-faq-body{
            display: block;
            border: 2px solid var(--accent-bg2);
          }
        }
    }
    &-header{
      cursor: pointer;
      position: relative;
      display: flex;
      justify-content: space-between;
      padding: 5px 5px 5px 30px;
      background-color: var(--white-bg);
      border-radius: 6px;
      align-items: center;
      transition: all 0.4s;
      h3{
        @include max(767px) {
          font-size: 24px;
          padding-right: 25px;
        }
      }
      &.headr-2{
        background-color: var(--light-color);
      }
    }
    &-body{
      display: none;
      padding: 24px 30px 30px;
      background: #fff;
      border-radius: 0 0 6px 6px;
      border: 2px solid transparent;
      border-top: none !important;
      
      &.default{
        display: block;
      }
      &.body2 p{
        font-size: 14px;
        line-height: 1.71em;
      }
      &.body3{
        p{
          color: var(--light-color5);
        }
      }
    }
    &-thumb{
        margin-left: calc((-100vw + 100%) /12);
        position: relative;
        height: 100%;
        @include max (1399px){
          margin-left: calc((-100vw + 100%) /5);
        }
        @include max (991px){
            margin: 80px 0 0;
            height: auto;
        }
        @include max (767px){
            margin: 40px 0 0;
        }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 0 10px 10px 0;
            @include max (1850px){
              border-radius: 10px;
            }
        }
        &::before{
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            position: absolute;
            border-radius: 0 10px 10px 0;
            background: rgba(34, 38, 39, 0.8);
            @include max (1850px){
              border-radius: 10px;
            }
        }
    }
    // end one
    &-wrap {
        max-width: 900px;
        margin: 0 auto;
    }
    // end two
    &-wrap2{
      padding-left: 50px;
      @include max (991px){
        padding-left: 0;
        padding-bottom: 40px!important;
      }
      @include max (991px){
        padding-bottom: 30px!important;
      }
      h2{
        padding-bottom: 40px;
      }
      .text{
        margin-bottom: 30px;
      }
    }
}

// 

.techin-active-icon{
  transition: all .4s;
  display: flex;
  width: 50px;
  flex-shrink: 0;
  height: 50px;
  padding: 5px;
  line-height: 31px;
  text-align: center;
  align-items: center;
  border-radius: 6px;
  justify-content: center;
  background-color: var(--accent-bg2);
  img{
    transition: all 0.4s;
  }
}

// start faq one

.accordion{
  &-item{
    position: relative;
    border-radius: 10px;
    transition: all .4s;
    margin-bottom: 20px;
    &.show {
      .techin-active-icon{
        background-color: var(--white-bg);
        img{
            transform: rotate(180deg);
        }
      }
      h6.accordion-header .accordion-button{
        
      }
      .techin-faq-body{
        display: block;
        border: 2px solid var(--accent-bg2);
      }
    }
  }
  &-header{
    
    h6{
      @include max(767px) {
        font-size: 24px;
        padding-right: 25px;
      }
    }
    
  }
}



// start add

// .Accordion_item {
//   width: 100%;
//   height: auto;
//   margin-bottom: 24px;
//   transition: all 0.4s;

//   .title_tab {
//     background-color: var(--white-bg);
//     cursor: pointer;
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     position: relative;
//     padding: 5px 5px 5px 30px;
//     border-radius: 6px;
//     align-items: center;
//     transition: all 0.4s;
//     .title {
//       font-size: 24px;
//       letter-spacing: 1px;
//       position: relative;
//     }
//   }
// }
// img.active-icon {
//   padding: 15px;
//   background-color: var(--accent-bg2);
//   border-radius: 6px;
//   color: #fff;
// }
// .inner_content {
//   width: 100%;
//   height: auto;
//   display: none;
//   overflow: hidden;
//   display: none;
//   padding: 24px 30px 30px;
//   background: #fff;
//   border-radius: 0 0 6px 6px;
//   border: 2px solid transparent;
//   border-top: none !important;
// }

// /* ================================= */

// .Accordion_item {
//   .title_tab {
//     &.active {
//       background-color: var(--accent-color);
//         border-radius: 6px 6px 0 0;
//         h6{
//           color: var(--white-color);
//         }
//       .title .icon {
//         transform: rotate(0deg);
//         transition: transform .3s ease-in;
//       }
//     }
//   }
// }