input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="tel"],
input[type="time"],
input[type="date"],
input[type="search"],
input, textarea {
  margin: 0;
  width: 100%;
  height: 60px;
  font-weight: 400;
  color:var(--heading-color);
  border-radius: 0;
  background-color: transparent;
  padding: 15px 0 ;
  border: none;
  transition: all 0.4s;
}
textarea {
  height: 145px;
  resize: none;
  @include max(767px) {
    height: 100px;
  }
}

input::-webkit-input-placeholder, 
textarea::-webkit-input-placeholder{ /* WebKit, Blink, Edge */
    color:    #6F7174;
    opacity: 1;
}
input:-moz-placeholder, 
textarea:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */
   color:    #6F7174;
   opacity:  1;
}
input::-moz-placeholder, 
textarea::-moz-placeholder{ /* Mozilla Firefox 19+ */
   color:    #6F7174;
   opacity:  1;
}
input:-ms-input-placeholder, 
textarea:-ms-input-placeholder{ /* Internet Explorer 10-11 */
   color:    #6F7174;
   opacity: 1;
}
input::-ms-input-placeholder, 
textarea::-ms-input-placeholder{ /* Microsoft Edge */
   color:    #6F7174;
   opacity: 1;
}

input::placeholder, 
textarea::placeholder{ /* Most modern browsers support this now. */
   color:    #6F7174;
   opacity: 1;
}

// search header v1
.techin-header-search-box {
   position: relative;
   input{
      font-size: 34px;
      border: none!important;
      border-radius: 0;
      height: 80px;
      border-bottom: 1px solid #E3E3EC!important;
      margin-bottom: 12px;
      &::placeholder{
         color: #8A8C9A;
      }
      &:focus{
         border-bottom: 1px solid var(--accent-color)!important;
      }     
   }
   p{
      color: var(--heading-color);
   }
}
button#header-search {
   position: absolute;
   top: 25px;
   right: 0;
   i{
      font-size: 30px;
      color: var(--accent-color);
   }
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
  appearance: none;
}

// footer sebscription
.techin-subscription{
   position: relative;
   margin-top: 25px;
   input{
      height: 60px;
      border-radius: 0;
      padding: 20px!important;
      color: #8A8C9A;
      border-radius: 6px;
      background-color: var(--white-bg);
      border: 1px solid var(--light-color1)!important;
      &::placeholder{
         color: #8A8C9A;
      }
      &:focus{
         border: 1px solid var(--accent-color)!important;
      }
   }
   &.two{
      input{
         color: var(--heading-color);
         border: 1px solid #E7E7E8!important;
         &::placeholder{
            color: rgba(13, 14, 29, 0.6);
         }
         &:focus{
            border: 1px solid var(--accent-color)!important;
         }
      }
   }
}
button#techin-subscription-btn {
   width: 100%;
   margin-top: 12px;
   text-align: center;
   justify-content: center;
}

.subscribe-form{
   position: relative;
   input {
      padding: 18px 42% 18px 25px !important;
      height: 60px !important;
      width: 100%;
      transition: all .4s;
      border-radius: 7px !important;
      background-color: var(--light-color) !important;
      font-size: 14px;
      font-weight: 400 !important;
      border: 1px solid var(--light-color2);
      border-radius: 6px;
      line-height: 24px;
      color: var(--body-color)!important;
      @include max (767px){
         width: 100%;
         padding: 15px 24px 15px 24px!important;
      }
   }
   button {
      position: absolute;
      right: 0px;
      top: 0px;
      font-weight: 700;
      font-family: $heading-font;
      color: var(--white-color);
      background: var(--accent-bg);
      padding: 17px 26px;
      border-radius: 4px;
      transition: all 0.4s;
      &:hover{
        background: var(--dark-color1);
      }
      img{
         margin-bottom: 0;
         padding-right: 10px;
      }
      @include max (767px){
         position: static !important;
         width: 100% !important;
         margin-top: 24px;
      }
   }
   .button2{
      background-color: var(--heading-color)!important;
      &:hover{
         background-color: var(--accent-bg2)!important;
      }
   }
}
 
 .header-search-form{
   position: relative;
   @include max (767px){
      display: none;
   }
   input{
      background: var(--white-bg);
      border-radius: 30px;
      height: 60px;
      color: var(--body-color);
      padding: 15px 50px 15px 20px;
   }
   i{
      width: 40px;
      height: 40px;
      color: var(--white-color);
      border-radius: 50px;
      background: var(--accent-bg);
      position: absolute;
      top: 10px;
      right: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}


// date picker

