.techin-hero{
    &-section{
        overflow: hidden;
        background-position: center;
        background-size: cover;
    }
    &-thumb{
        padding-bottom: 50px;
        @include max (991px){
            display: none;
        }
        &.thumb2{
            @include max (991px){
                display: block;
            }
            padding-bottom: 0;
            position: relative;
            img{
                border-radius: 20px 20px 0 0;
            }
        }
    }
    &-content{
        padding: 380px 0px 0 0;
        @include max (1399px){
            padding: 260px 0 50px 0;
        }
        @include max (991px){
            padding: 220px 0 0px 0;
        }
        @include max (767px){
            padding: 130px 0px 50px 0;
        }
        h1{
            padding-bottom: 40px;
            @include max (991px){
                padding-bottom: 30px;
            }
        }
        p{
            color: var(--white-smoke);
            margin-bottom: 30px;
            max-width: 533px;
        }
        &.hero-content2{
            max-width: 645px;
            margin: 0 auto;
            text-align: center;
            padding: 260px 0 0;
            @include max (1399px){
                padding: 260px 0 0 0;
            }
            @include max (991px){
                padding: 220px 0 0px 0;
            }
            @include max (767px){
                padding: 150px 0px 0;
            }
          
        }
    }
    &-tag{
        width: 377px;
        display: flex;
        gap: 10px;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        padding: 5px 30px;
        border-radius: 6px;
        margin-bottom: 20px;
        text-align: left;
        color: var(--white-color);
        font-family: $heading-font;
        background: linear-gradient(90deg, rgba(47, 43, 235, 0.4) 0%, #2F2BEB 100%);
        @include max (767px){
            width: 94%;
        }
        &.tag2{
            width: 423px;
            margin: 0 auto 20px;
            text-align: center;
            background: linear-gradient(90deg, rgba(43, 200, 235, 0.4) 0%, #2BC8EB 100%);
            @include max (575px){
                width: 300px;
                padding: 5px 28px;
            }

        }
        &.tag3{
            margin: 0 auto 20px;
        }
    }
    // end v1
    &-content2{
        max-width: 645px;
        margin: 0 auto;
        text-align: center;
        padding: 260px 0 115px;

        @include max (991px){
            padding: 220px 0 115px;
        }
        @include max (767px){
            padding: 150px 0px 115px;
        }
     
    }
    &-thumb2{
        display: none;
        @include max (991px){
            display: block;
        }
    }
    // end two
    &-section-three{
        position: relative;
        background-position: center;
        background-size: cover;
        margin: 0 60px;
        margin-top: 160px;
        border-radius: 20px;
        @include max (1499px){
            margin: 0 30px;
        }
        @include max (1199px){
            margin-top: 90px;
        }
        @include max (767px){
            margin: 0 auto;
            margin-top: 70px;
        }
        &::before{
            position: absolute;
            content: "";
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border-radius: 20px;
            background-color: rgba(2, 1, 53, 0.8);
        }
    }
    &-content3{
        position: relative;
        max-width: 645px;
        margin: 0 auto;
        text-align: center;
        padding: 170px 0 350px;
        @include max (1399px){
            padding: 130px 0 300px;
        }
        @include max (1199px){
            padding: 130px 0 250px;
        }
        @include max (991px){
            padding: 100px 0 250px;
        }
        @include max (767px){
            padding: 80px 0 365px;
        }
        h1{
            padding-bottom: 40px;
            @include max (767px){
                padding-bottom: 30px;
            }
        }
        p{
            color: var(--white-smoke);
            padding-bottom: 30px;
            margin: 0;
        }
    }
}

.techin_screenfix_right2 {
    margin-right: calc((-105vw + 100%) / 2);
    max-width: 1624px;
    @include max(991px) {
        max-width: 100%;
    }
}

.techin-hero-slider-init{
    ul.slick-dots {
        bottom: 15%;
        right: 40%;
        position: absolute;
        display: flex;
        gap: 24px;
        @include max (1499px){
            bottom: 8%;
        }
        @include max (767px){
            bottom: 3%;
            right: 35%;
        }
    }
    .slick-dots button {
        display: block;
        padding: 0;
        border: none;
        text-indent: -9999px;
        transition: all 0.4s;
        width: 30px;
        height: 6px;
        background: var(--white-color);
        border-radius: 10px;
    }
    .slick-dots li.slick-active {
        border-radius: 10px;
        width: 60px;
        background: var(--accent-bg2)!important;
        opacity: 1;
    }
}