.techin-menu-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.60);
  z-index: 999999;
  width: 100%;
  height: 100%;
  transition: all ease 0.8s;
  opacity: 0;
  visibility: hidden;


  // Mobile Menu Logo
  .mobile-logo {
    display: block;
    text-align: left;
    max-width: 120px;
    background-color: var(--white-bg);
  }

  // Menu Close Button
  .techin-menu-toggle {
    width: 55px;
    height: 55px;
    line-height: 55px;
    font-size: 18px;
    z-index: 1;
    color: #fff;
    display: flex;
    border-radius: 0;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border-left: 1px solid rgba(0, 0, 0, 0.1);
    i{
      color: #000;
    }
  }

  .techin-menu-area {
    width: 100%;
    max-width: 310px;
    background-color: var(--white-bg);
    height: 100%;
    position: relative;
    left: -110%;
    opacity: 0;
    visibility: hidden;
    transition: all ease 1s;
    z-index: 1;
  }

  &.techin-body-visible {
    opacity: 1;
    visibility: visible;

    .techin-menu-area {
      left: 0;
      opacity: 1;
      visibility: visible;
    }
  }
}


// Mobile Menu
.techin-mobile-menu {
  overflow-y: scroll;
  max-height: calc(100vh - 200px);
  text-align: left;

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 2px rgba(#E8063C, 0.2);
    background-color: #000;
  }

  &::-webkit-scrollbar {
    width: 2px;
    background-color: #000;
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--heading-color);
  }

  ul {
    margin: 0;
    padding: 0 0;

    li {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
      list-style-type: none;

      li:first-child {
        border-top: 1px solid rgba(0, 0, 0, 0.1);
      }

      a {
        display: block;
        position: relative;
        padding: 15px;
        line-height: 1;
        font-size: 16px;
        text-transform: capitalize;
        color: #000!important;
        font-weight: 500;
    
      }

      &.techin-active {
        >a {
          color: var(--accent-color);

          &:before {
            transform: rotate(90deg);
          }
        }
      }

      ul {
        li {
          padding-left: 10px;

        }
      }
    }

    .techin-item-has-children {
      >a {
        .techin-mean-expand {
       

          position: absolute;
          right: 0;
          top: 3px;
          font-weight: 400;
          font-size: 16px;
          width: 60%;
          height: 40px;
          padding: 0 15px;
          line-height: 40px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          text-align: center;
          background-color: var(--white-bg);
          color: #000;
          transition: all ease 0.4s;

          &:before {
            content: "\ea6d";
            display: inline-block;
            transition: all ease 0.3s;
            font-family: 'remixicon' !important;
          }
        }
      }
      
      &.techin-active {
        >a {
          .techin-mean-expand {
            &:before {
              transform: rotate(-90deg);
            }
          }
        }
      }
    }
  }

  >ul {
    >li {
      &:first-child {
        border-top: 1px solid rgba(0,0,0,.1);
      }
    }
  }
}



// .techin-menu-toggle {
//   width: 50px;
//   height: 50px;
//   padding: 0;
//   font-size: 24px;
//   border: none;
//   color: var(--heading-color);
//   display: inline-block;
//   border-radius: 50%;
//   margin-left: 40px;
//   i{
//     font-size: 24px;
//     color: var(--white-color);
//   }
// }
.techin-menu-mobile-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
}

@media (max-width: 400px) {
  .techin-menu-wrapper .techin-menu-area {
    width: 100%;
  }

}


.techin-mobile-menu-btn {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 0 15px;
  padding-top: 50px;
}

a.techin-default-btn.sm-size {
  font-size: 16px;
  line-height: 1;
  padding: 17px 15px;
  border-radius: 6px;
  font-weight: 600;
  font-family: Sora, sans-serif;
  width: fit-content;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-flex;
  align-items: center;
  text-align: center;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: var(--white-color) !important;
  background-color: var(--accent-bg);
  z-index: 0;
  overflow: hidden;
  position: relative;
  letter-spacing: -0.01em;
  text-transform: capitalize;
  transform-style: preserve-3d;
}

