.techin-pagination {
  margin-top: 56px;
  @include max(991px) {
    margin-top: 36px;
  }
  ul{
    display: flex;
  }
  li {
    display: inline-block;
    margin: 0 2px;
  }
  &.center{
    ul{
      justify-content: center;
    }
  }
}
.techin-pagination{
  display: flex;
  &.center{
    justify-content: center;
  }
}
.techin-pagination span, 
.techin-pagination a,
.pagi-btn {
  height: 60px;
  width: 60px;
  font-weight: 700;
  display: inline-flex;
  text-align: center;
  line-height: 60px;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  color: var(--heading-color);
  background: var(--light-color);
  border-radius: 100px;
  transition: all 0.4s;
  border: 1px solid var(--accent-bg2);
  @include max (575px){
    width: 40px;
    height: 40px;
  }
  &:hover{
    color: var(--white-color);
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    path{
      fill: var(--white-color);
    }
  }
}



a.current{
  cursor: not-allowed;
  color: var(--white-color);
  background-color: var(--accent-bg);
  border: 1px solid var(--accent-bg);
}

// End pagination