.techin-service{
    &-wrap{
        text-align: center;
        padding: 36px 27px;
        transition: all 0.4s;
        position: relative;
        margin-bottom: 24px;
        z-index: 0;
        &:hover{
            .techin-service-icon{
                background-color: var(--white-bg);
                transform: rotateY(180deg);
                path{
                    fill: var(--accent-color);
                }
            }
            .techin-service-content{
                h5,p{
                    color: var(--white-color);
                }
            }
            .techin-service-btn{
                background: var(--accent-bg2);
            }
            
        }
        &:hover::before, &:hover::after{
            background-color: var(--accent-bg);
        }
        &::before, &::after{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: all 0.4s;
            border-radius: 0 100px 0 0;
            background-color: var(--accent-bg2);
        }
        &::after{
            border-radius: 0 150px 0 0;
            background-color: var(--white-bg);
        }
    }
    &-icon{
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        transition: all 0.4s;
        background: var(--accent-bg);
        margin: 0 auto 20px;
    }
    &-content{
        padding-bottom: 20px;
        h5{
            padding-bottom: 10px;
        }
        p{
            font-size: 14px;
            line-height: 1.7em;
        }
    }
    // end one
    &-wraper2{
        margin-top: -315px;
    }
    &-wrap2{
        position: relative;
        transition: all 0.4s;
        border-radius: 20px;
        padding: 20px 20px 40px 20px;
        border: 1px solid var(--light-color2);
        background-color: var(--light-color);
        &:hover{
            border: 1px solid var(--accent-color);
            .techin-service-icon2{
                transform: rotateY(180deg);
            }
            .techin-service-btn{
                background-color: var(--accent-bg2);
            }
            .techin-service-content2{
                h5{
                    color: var(--accent-color);
                }
            }
        }
        &.wrap3{
            margin-bottom: 24px;
        }
    }
    &-thumb{
        position: relative;
        &::before{
            background: rgba(255, 255, 255, 0.3);
            bottom: 0;
            content: "";
            left: 50%;
            position: absolute;
            right: 51%;
            top: 0;
            opacity: 1;
            z-index: 9;
            pointer-events: none;
            -webkit-transition: all 500ms linear;
            transition: all 500ms linear;
          }
          &:hover::before{
            left: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 500ms linear;
            transition: all 500ms linear;
          }
          &::after{
            background: rgba(255, 255, 255, 0.3);
            bottom: 50%;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 50%;
            opacity: 1;
            pointer-events: none;
            -webkit-transition: all 600ms linear;
            transition: all 600ms linear;
          }
          &:hover::after{
            top: 0;
          bottom: 0;
          opacity: 0;
          -webkit-transition: all 600ms linear;
          transition: all 600ms linear;
          }
        img{
            border-radius: 20px;
        }
    }
    &-icon2{
        padding: 0;
        z-index: 2;
        margin: 0 auto 20px;
        border-radius: 100px;
        position: absolute;
        transition: all .4s;
        display: flex;
        border: 20px solid var(--light-color);
        align-items: center;
        justify-content: center;
        flex-direction: column;
        bottom: -65px;
        left: 34%;
    }
    &-content2{
        padding: 60px 20px 0 20px;
        text-align: center;
        h5{
            padding-bottom: 10px;
        }
        p{
            font-size: 14px;
            line-height: 1.71em;
            margin-bottom: 24px;
        }
    }
    // end two
    &-wrap3{
        border: 1px solid #2F2BEB;
        padding: 20px 20px 40px;
        border-radius: 20px;
        transition: all 0.4s;
        margin-bottom: 24px;
        &:hover {
            background-color: var(--accent-bg);
            .techin-service-icon3{
                background-color: var(--white-bg);

            }
            .techin-service-btn2{
                background-color: var(--accent-bg2);
            }
            .techin-service-content2{
                h5,p{
                    color: var(--white-color);
                }
            }
            .techin-service-icon-hide{
                transform: translateY(0);
            }
            .techin-service-icon-show{
                transform: translateY(-65px);
            }
        }
    }
    &-icon3 {
        width: 80px;
        height: 80px;
        display: flex;
        align-items: center;
        border-radius: 20px;
        transition: all 0.4s;
        justify-content: center;
        position: absolute;
        left: 50%;
        bottom: -35px;
        overflow: hidden;
        transform: translateX(-50%);
        background-color: var(--accent-bg);
    }
    &-video-section{
        background-position: center;
        background-size: cover;
        border-radius: 10px;
        padding: 120px 100px;
        position: relative;
        margin-top: -230px;
        @include max (991px){
            padding: 100px 70px;
            margin-top: -180px;
        }
        @include max (767px){
            padding: 60px 0 100px 30px;
            margin-top: -160px;
        }
        .video-play-btn {
            position: absolute;
            bottom: 0;
            left: -20px;
        }
    }
    &-video-content{
        max-width: 600px;
        @include max (991px){
            padding-bottom: 40px;
        }
        h2{
            color: var(--white-color);
        }
    }
    // end three

    // strat inner
    &-d-wrap{
        padding: 40px 40px 34px;
        border-radius: 20px;
        background-color: var(--light-color);
        @include max (767px){
            padding: 30px;
        }
        &:hover{
            .techin-service-d-thumb img{
                transform: scale(1.1);
            }
        }
    }
    &-d-thumb{
        border-radius: 20px;
        position: relative;
        overflow: hidden;
        margin-bottom: 50px;
        &::before{
            background: rgba(255, 255, 255, 0.3);
            bottom: 0;
            content: "";
            left: 50%;
            position: absolute;
            right: 51%;
            top: 0;
            opacity: 1;
            z-index: 9;
            pointer-events: none;
            -webkit-transition: all 500ms linear;
            transition: all 500ms linear;
          }
          &:hover::before{
            left: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 500ms linear;
            transition: all 500ms linear;
          }
          &::after{
            background: rgba(255, 255, 255, 0.3);
            bottom: 50%;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 50%;
            opacity: 1;
            pointer-events: none;
            -webkit-transition: all 600ms linear;
            transition: all 600ms linear;
          }
          &:hover::after{
            top: 0;
          bottom: 0;
          opacity: 0;
          -webkit-transition: all 600ms linear;
          transition: all 600ms linear;
          }
        @include max (991px){
            margin-bottom: 40px;
        }
        @include max (767px){
            margin-bottom: 30px;
        }
        img{
            width: 100%;
            height: 100%;
            transition: all 0.4s;
            object-fit: cover;
        }
    }
    &-d-title{
        h3{
            padding-bottom: 10px;
        }
    }
    &-d-data{
        padding-top: 40px;
        @include max (767px){
           padding-top: 30px;
        }
    }
    &-d-sub-title{
        padding-top: 30px;
        h4{
            padding-bottom: 20px;
        }
    }
    &-d-list-wraper{
        display: flex;
        padding-top: 15px;
        justify-content: space-between;
        flex-wrap: wrap;
        padding-bottom: 40px;
        max-width: 600px;
        @include max (767px){
            padding-bottom: 30px;
         }
    }
    &-d-list-item{
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
        a{
            
            display: flex;
            gap: 10px;
            align-items: center;
            margin-bottom: 10px;
            font-weight: 700;
            line-height: 26px;
            color: var(--body-color);
            line-height: 1.71em;
            font-family: $heading-font;
        }
    }
    &-d-thumb2{
        position: relative;
        overflow: hidden;
        border-radius: 20px;
        &:hover{
            img{
                transform: scale(1.1);
            }
        }
        @include max (991px){
            padding-bottom: 40px;
        }
        @include max (767px){
            padding-bottom: 30px;
        }
        img{
            border-radius: 20px;
            width: 100%;
            height: 100%;
            transition: all 0.4s;
            object-fit: cover;
        }
    }
}

.techin-three-column2 .techin-s-slider-next, 
.techin-three-column2 .techin-s-slider-prev {
    top: -130px;
    right: 80px;
    width: 60px;
    height: 60px;
    z-index: 1;
    border: 1px solid var(--white-color);
    display: flex;
    cursor: pointer;
    position: absolute;
    transition: all .4s;
    align-items: center;
    border-radius: 100px;
    background-size: 20px;
    justify-content: center;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--white-bg);
    transform: rotate(0deg);
    background-image: url(../../images/v1/arrow.svg);
    @include max (1199px){
        top: -130px;
    }
    @include max (991px){
        top: -80px;
    }
    @include max (767px){
       display: none!important;
    }
}
.techin-three-column2 .techin-s-slider-prev {
    left: auto;
    transform: rotate(180deg);
    right: 0;
    background-image: url(../../images/v1/arrow.svg);
    @include max (991px){
    }
}
.techin-three-column2{
    .slick-slide{
        margin: 0 12px;
        @include max(767px) {
            margin: 0;
        }
    }
   
}


// add jihad


.techin-service-icon-hide,
.techin-service-icon-show{
    position: absolute;
    transition: all 0.4s;
    border-radius: 0!important;
}
.techin-service-icon-hide{
    transform: translateY(65px);
}
