.techin-skill{
    &-wraper{
        display: flex;
        align-items: center;
        gap: 50px;
        position: relative;
        @include max (767px){
            display: block;
        }
    }
    &-wrap{
        width: 100%;
        @include max (767px){
            padding-top: 30px;
        }
        h4{
            margin-bottom: 20px;
        }
    }
    &-icon{
        flex-shrink: 0;
        display: inline-block;
        animation: animName 15s linear infinite;
    }
    &-icon2{
        position: absolute;
        left: 37px;
        top: 37px;
        @include max (767px){
            top: 38px;
        }
    }
    &-item{
        margin-bottom: 24px;
        &:last-child{
            margin-bottom: 0!important;
        }
    }
    &-title{
        h6{
            font-size: 16px;
            line-height: 1.62em;
            margin-bottom: 12px;
            color: var(--heading-color);
        }
        p{
            margin-bottom: 12px;
        }
        
    }
    &-line{
        position: relative;
        height: 16px;
        background: var(--white-bg);
        border-radius: 4px;
        transform: scaleX(0);
        transform-origin: left;
        box-shadow: 0px 10px 31px 0px #A9B1C12B;
        animation: animate 1s cubic-bezier(1,0,.5,1) forwards;
        margin-bottom: 20px;
        border: 1px solid var(--accent-bg);
        &:last-child{
            margin-bottom: 0;
        }
        &.line2{
            background-color: var(--light-color);
            border: none;
            height: 20px;
            border-radius: 6px;
        }
    }
    &-bar{
        margin: 4px;
        height: 6px;
        position: absolute;
        border-radius: 2px;
        transform-origin: left;
        background: var(--accent-color);
        box-shadow: 0px 10px 31px 0px #A9B1C12B;
        animation: animate 1s 1s cubic-bezier(1,0,.5,1) forwards;
        &.bar2{
            border-radius: 5px;
            height: 20px;
            margin: 0;
            &::after{
                position: absolute;
                right: -32px;
                top: -44px;
                font-size: 16px;
                font-weight: 400;
                padding: 1px 8px;
            }
        }
        
    &::before{
        position: absolute;
        content: "";
        height: 0;
        right: 0;
        top: -14px;
        width: 0;
        border: 7px solid transparent;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-top-style: #f0f0f0;
    }
    &::after{
        position: absolute;
        right: 0;
        top: -44px;
        color: var(--dark-bg);
        font-size: 20px;
        font-weight: 700;
        padding: 1px 8px;
        border-radius: 3px;
    }

    }
    &-line2{
        position: relative;
        height: 20px;
        background: var(--light-color);
        border-radius: 4px;
        transform: scaleX(0);
        transform-origin: left;
        box-shadow: 0px 10px 31px 0px #A9B1C12B;
        animation: animate 1s cubic-bezier(1,0,.5,1) forwards;
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0!important;
        }
    }
    &-bar2{
        margin: 0;
        height: 20px;
        position: absolute;
        border-radius: 5px;
        transform-origin: left;
        background: var(--accent-color);
        box-shadow: 0px 10px 31px 0px #A9B1C12B;
        animation: animate 1s 1s cubic-bezier(1,0,.5,1) forwards;
    &::before{
        position: absolute;
        content: "";
        height: 0;
        right: 0;
        top: -14px;
        width: 0;
        border: 7px solid transparent;
        border-bottom-width: 0px;
        border-right-width: 0px;
        border-top-style: #f0f0f0;
    }
    &::after{
        position: absolute;
        right: -32px;
        top: -44px;
        font-size: 16px;
        font-weight: 400;
        padding: 1px 8px;
        border-radius: 6px;
        }
    }
}

.bar-one{
    width: 80%;
    color: var(--heading-color);
}
.bar-one::after{
    content: "80%";
}
.bar-two{
    width: 95%;
    color: var(--heading-color);
}
.bar-two::after{
    content: "95%";
}
.bar-three{
    width: 75%;
}
.bar-three::after{
    content: "75%";
}
.bar-four{
    width: 80%;
    font-size: 16px;
    line-height: 1.71em;
    font-weight: 400;
}
.bar-four::after{
    content: "80%";
}
.bar-five{
    width: 95%;
}
.bar-five::after{
    content: "95%";
}
.bar-six{
    width: 80%;
}
.bar-six::after{
    content: "80%";
}


@keyframes animate {
    100% {
    transform: scaleX(1);
    }
}
