// single blog
.tag-share-social{
    display: flex;
    align-items: center;
    gap: 15px;
    h6{
      font-size: 18px;
      font-weight: 600;
      line-height: 20px;
      color: var(--heading-color);
    }
    ul{
      display: flex;
      gap: 15px;
      flex-wrap: wrap;
      li{
        display: inline-block;
        a{
          width: 40px;
          height: 40px;
          border-radius: 100px;
          background: var(--accent-bg2);
          transition: all .4s;
          display: flex;
          align-items: center;
          justify-content: center;
          path{
            transition: all 0.4s;
          }
          &:hover{
            background: var(--accent-bg);
            path{
              fill: var(--white-color);
            }
          }
        }
      }
    }
  }
.author-social-link{
    position: absolute;
    top: 30px;
    right: 40px;
    @include max (767px){
        position: absolute;
        top: 50%;
        left: 22%;
    }
    ul{
        li{
            display: inline-block;
            margin-right: 10px;
            &:last-child{
                margin-right: 0;
            }
            @include max (767px){
                margin-right: 15px;
            }
            a{
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 100px;
                transition: all 0.4s;
                background: var(--white-bg);
                border: 1px solid var(--accent-color2);
                &:hover{
                background: var(--accent-bg2);
                }
            }
        }
    }
}
//   team
.techin-team{
  &-social {
    position: absolute;
    transition: all .4s;
    bottom: 40px;
    right: 0;
    text-align: center;
    padding: 20px 12px;
    z-index: 1;
    border-radius: 25px;
    opacity: 0;
    background: var(--accent-bg);
    ul{
      li{
        a{
          path{
            transition: all 0.4s;
          }
          &:hover path{
            fill: var(--accent-bg2);
          }
        }
      }
    }
  }
  // end one
  &-social2 {
    position: absolute;
    transition: all .4s;
    bottom: 50px;
    right: 0;
    text-align: center;
    z-index: 1;
    border-radius: 25px;
    opacity: 0;
    ul{
      li{
        a{
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 6px;
          margin-bottom: 10px;
          transition: all 0.4s;
          background-color: var(--accent-bg);
          &:hover {
            background-color: var(--accent-bg2);
          }
        }
      }
    }
  }
  &-social3 {
    ul{
      li{
        display: inline-block;
        margin-right: 10px;
        &:last-child{
          margin-right: 0;
        }
        a{
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-radius: 6px;
          transition: all 0.4s;
          background-color: var(--accent-bg);
          path{
            transition: all 0.4s;
          }
          &:hover {
            background-color: var(--accent-bg2)!important;
            path{
              fill: var(--white-color)!important;
            }
          }
        }
      }
    }
  }
}