.techin-team{
    &-column{
        gap: 30px;
        display: grid;
        grid-template-columns:1fr 1fr 1fr 1fr;
        @include max(1199px) {
            grid-template-columns:1fr 1fr; 
        }
        @include max(767px) {
            grid-template-columns:1fr; 
        }
    }
    &-wrap{
        transition: all 0.4s;
        position: relative;
        margin-bottom: 48px;
        margin-left: 30px;
        @include max (767px){
            margin-bottom: 24px;
        }
        &:hover {
            .techin-team-thumb{
                &::before {
                    background: var(--accent-bg)!important;
                }
            }
       
        }
    }
    &-thumb{
        z-index: 1;
        position: relative;
        border-radius: 20px;
        img{
            width: 100%;
            border-radius: 20px;
            object-fit: cover;
            transition: all .4s;
        }
        &::before{
            content: "";
            left: -30px;
            top: -30px;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: all .4s;
            position: absolute;
            border-radius: 20px;
            background-color: var(--white-bg);
            border: 2px solid var(--light-color2);
        }
    }
    &-content{
        padding: 20px 0 20px 20px;
        width: 85%;
        background: var(--accent-bg2);
        border-radius: 0 10px 10px 0;
        position: absolute;
        bottom: 30px;
        z-index: 1;
        P{
            color: var(--heading-color);
            font-size: 14px;
            line-height: 1.7em;
            margin-bottom: 0;
        }
    }
    &-share-icon {
        position: absolute;
        top: -20px;
        right: 20px;
        &:hover .techin-team-social{
            opacity: 1;
            bottom: 50px;
        }
    }
    // end one
    &-wrap2{
        text-align: center;
        padding: 40px 30px;
        border-radius: 20px;
        position: relative;
        transition: all 0.4s;
        margin-bottom: 24px;
        border: 1px solid var(--light-color2);
        background-color: var(--light-color);
        &:hover {
            border: 1px solid var(--accent-bg);
            .techin-team-social {
                opacity: 1;
                ul{
                    li{
                        margin-bottom: 10px;
                        padding: 7px 12px;
                        border-radius: 6px;
                        transition: all 0.4s;
                        background-color: var(--accent-bg);
                        &:last-child {
                            margin-bottom: 0;
                        }
                        &:hover{
                            background-color: var(--accent-bg2);
                        }
                    }
                }
            }
            .techin-team-thumb2 img{
                transform: scale(1.1);
            }
            .techin-team-content2{
                h5{
                    color: var(--accent-color);
                }
                p{
                    color: var(--accent-color2);
                }
            }
        }
    }
    &-thumb2{
        padding: 0 35px 20px;
        position: relative;
        &::before{
            background: rgba(255, 255, 255, 0.3);
            bottom: 0;
            content: "";
            left: 50%;
            position: absolute;
            right: 51%;
            top: 0;
            opacity: 1;
            z-index: 9;
            pointer-events: none;
            -webkit-transition: all 500ms linear;
            transition: all 500ms linear;
          }
          &:hover::before{
            left: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 500ms linear;
            transition: all 500ms linear;
          }
          &::after{
            background: rgba(255, 255, 255, 0.3);
            bottom: 50%;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 50%;
            opacity: 1;
            pointer-events: none;
            -webkit-transition: all 600ms linear;
            transition: all 600ms linear;
          }
          &:hover::after{
            top: 0;
          bottom: 0;
          opacity: 0;
          -webkit-transition: all 600ms linear;
          transition: all 600ms linear;
          }
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.4s;
        }
    }
    &-content2{
        padding-bottom: 20px;
        border-bottom: 1px solid var(--light-color2);
        margin-bottom: 20px;
        h5{
            transition: all 0.4s;
            padding-bottom: 10px;
        }
        p{
            font-size: 14px;
            font-weight: 400;
            line-height: 24px;
            padding: 3px 20px;
            border-radius: 20px;
            margin: 0 auto;
            display: inline-block;
            transition: all 0.4s;
            color: var(--heading-color);
            background-color: var(--light-color2);
        }
    }
    &-info-wraper{
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    &-info-wrap{
        display: flex;
        align-items: center;
        justify-content: center;
        background: var(--accent-bg);
        gap: 10px;
        position: relative;
        cursor: pointer;
        border-radius: 6px;
        padding: 7px 13px;
        transition: all 0.4s;
        &:hover{
            background-color: var(--accent-bg2);
            .techin-team-social2{
                opacity: 1;
            }
        }
    }
    &-info-content{
        h5{
            font-size: 16px;
            line-height: 26px;
            color: var(--white-color);
        }
    }
    // end two
    &-wrap3{
        border-radius: 20px;
        text-align: center;
        border: 1px solid var(--light-color2);
        background-color: var(--light-color);
        transition: all 0.4s;
        margin-bottom: 24px;
        &:hover{
            background-color: var(--accent-bg);
            .techin-team-content3{
                h5,p{
                    color: var(--white-color);
                }
            }
            .techin-team-thumb3 img{
                transform: scale(1.1);
            }
            .techin-team-social3{
                ul{
                    li{
                        a{
                            background-color: var(--white-bg);
                            path{
                                fill: var(--heading-color);
                            }
                        }
                    }
                }
            }
        }
    }
    &-content3{
        padding: 20px 0 30px 0;
        h5{
            transition: all 0.4s;
            padding-bottom: 5px;
        }
        p{
            transition: all 0.4s;
        }
    }
    &-thumb3{
        position: relative;
        overflow: hidden;
        border-radius: 20px 20px 0 0;
        &::before{
            background: rgba(255, 255, 255, 0.3);
            bottom: 0;
            content: "";
            left: 50%;
            position: absolute;
            right: 51%;
            top: 0;
            opacity: 1;
            z-index: 9;
            pointer-events: none;
            -webkit-transition: all 500ms linear;
            transition: all 500ms linear;
          }
          &:hover::before{
            left: 0;
            right: 0;
            opacity: 0;
            -webkit-transition: all 500ms linear;
            transition: all 500ms linear;
          }
          &::after{
            background: rgba(255, 255, 255, 0.3);
            bottom: 50%;
            content: "";
            left: 0;
            position: absolute;
            right: 0;
            top: 50%;
            opacity: 1;
            pointer-events: none;
            -webkit-transition: all 600ms linear;
            transition: all 600ms linear;
          }
          &:hover::after{
            top: 0;
          bottom: 0;
          opacity: 0;
          -webkit-transition: all 600ms linear;
          transition: all 600ms linear;
          }
        img{
            
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all .4s;
        }
    }
    // end three
    // strat inner page
    &-d-thumb{
        position: relative;
        @include max (991px){
            padding-bottom: 40px;
        }
        @include max (767px){
            padding-bottom: 30px;
        }
        img{
            border-radius: 20px;
        }
    }
    &-d-tag {
        position: absolute;
        bottom: 40px;
        right: 40px;
        overflow: hidden;
        transform: translatey(0);
        -webkit-animation: updown 3s ease-in-out infinite;
        animation:  3s ease-in-out infinite;
        @include max (1399px){
            display: none;
        }
    }
    &-d-title{
        h6{
            color: var(--accent-color2);
            padding-top: 10px;
        }
    }
    &-d-content-wrap{
        display: flex;
        justify-content: space-between;
        padding: 40px 0 50px 0;
        @include max (991px){
            padding: 40px 0;
        }
        @include max (767px){
            padding: 30px 0 0 0;
            display: block;
        }
    }
    &-d-content-data{
        display: grid;
        @include max (767px){
            padding-bottom: 30px;
        }
        h5{
            padding-bottom: 10px;
        }
        a{
            padding-bottom: 10px;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.62em;
            color: #777777;
            &:last-child{
                padding-bottom: 0;
            }
            img{
                padding-right: 8px;
            }
        }
        &.data2{
            display: block;
        }
    }
    &-d-skill{
        h5{
            margin-bottom: 10px;
        }
    }
    &-d-text{
        padding: 50px 0 40px 0;
        @include max (991px){
            padding: 40px 0;
        }
        @include max (767px){
            padding: 30px 0;
        }
        h3{
            padding-bottom: 20px;
        }
    }
    &-d-text2{
        padding: 0 0 20px 0;
        @include max (991px){
            padding: 0;
        }
        @include max (767px){
            padding: 0;
        }
        h3{
            padding-bottom: 20px;
        }
    }
    &-d-list-item2{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;
        &:last-child{
            margin-bottom: 0;
        }
    }
}
