
.techin-t{
    &-section{
        padding: 130px 0;
        @include max(991px) {
            padding: 80px 0;
        }
        @include max(767px) {
            padding: 60px 0;
        }
    }
    &-wrap{
        margin-right: 20px;
        @include max(1199px) {
            max-width: 600px;
        }
        
        h2{
            padding-bottom: 30px;
        }
        @include max (1199px){
            padding-bottom: 50px;
        }
        @include max (767px){
            padding-bottom: 30px;
        }
    }
    &-slider-wrap{
        padding: 60px 40px;
        position: relative;
        background-position: center;
        background-size: 100% 100%; 
        background-image: url(../../images/v1/t-bg.png);
        @include max(991px) {
            padding: 60px 30px;
        }
   
    }
    &-slider-title{
        padding-bottom: 24px;
        h6{
            margin-bottom: 5px;
        }
        p{
            font-size: 14px;
            line-height: 1.71em;
        }
    }
    &-slider-thumb{
        position: absolute;
        top: 0;
        right: 40px;
        @include max (991px){
            position: static;
            margin-bottom: 30px;
        }
    }
    &-slider-rating{
        padding-bottom: 18px;
    }
    &-slider-text{
        p{
            font-size: 14px;
            line-height: 24px;
        }
    }
    &-slider-icon {
        position: absolute;
        bottom: 0;
        right: 40px;
    }
    // end one
    &-wrap2{
        padding: 30px 25px;
        border-radius: 10px;
        position: relative;
        margin-top: 30px;
        transition: all 0.4s;
        background-color: var(--light-color);
    }
    &-thumb{
        position: absolute;
        top: -30px;
        right: 50px;
        border: 10px solid #fff;
        border-radius: 20px;
        z-index: 2;
        img{
            border-radius: 10px;
        }
    }
    &-ratting{
        transition: all 0.4s;
        padding-bottom: 20px;
    }
    &-text{
        p{
            padding-bottom: 20px;
            font-size: 14px;
            line-height: 1.71em;
            transition: all 0.4s;
        }
    }
    &-author-wrap{
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &-author-content{
        transition: all 0.4s;
        h6{
            padding-bottom: 5px;
        }
        p{
            color: var(--accent-color2);
            font-size: 14px;
            line-height: 1.71em;
        }
    }
    // end two
    &-slider-item{
        border-radius: 20px;
        padding: 40px 30px 20px 30px;
        position: relative;
        z-index: 0;
        transition: all 0.4s;
        &::before{
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: all .4s;
            border-radius: 0 150px 0 0;
            background-color: var(--accent-bg2);
        }
        &::after{
            border-radius: 0 180px 0 0;
            background-color: var(--white-bg);
            content: "";
            position: absolute;
            top: 0; 
            right: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            transition: all .4s;
        }
        &:hover::before{
            background-color: var(--accent-bg);
        }
        &:hover{
            .techin-t-slider-author-data{
                p{
                    color: var(--accent-bg2);
                }
            }
            .techin-t-ratting2{
                path{
                    fill: var(--accent-bg);
                }
            }
        }
        p.text{
            font-size: 14px;
           
            line-height: 1.71em;
        }
    }
    &-ratting{
        path{
            transition: all 0.4s;
        }
    }
    &-shape{
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    &-slider-author-wrap{
        display: flex;
        align-items: center;
        gap: 16px;
        padding-bottom: 12px;
        @include max (767px){
            display: block;
        }
    }
    &-slider-author-thumb{
        @include max (767px){
            padding-bottom: 30px;
        }
    }
    &-slider-author-data{
        h6{
            padding-bottom: 5px;
        }
        p{
            font-size: 14px;
            line-height: 1.71em;
            transition: all 0.4s;
            margin-bottom: 8px;
        }
    }
}



.techin-t-slider-init .techin-t-slider-init-next, 
.techin-t-slider-init .techin-t-slider-init-prev {
    bottom: -15px;
    left: -51%;
    width: 60px;
    height: 60px;
    z-index: 1;
    border: 1px solid var(--accent-color);
    display: flex;
    cursor: pointer;
    position: absolute;
    transition: all .4s;
    align-items: center;
    border-radius: 100px;
    background-size: 20px;
    justify-content: center;
    transform: translateY(-50%);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--white-color);
    transform: rotate(0deg);
    // background-image: url(../../images/v1/arrow.svg);
    @include max (1399px){
        bottom: 0;
        right: 0;
    }
    @include max (1199px){
        top: -50%;
        left: 82%;
    }
    @include max (991px){
        top: -12%;
        left: 65%;

    }
    @include max (767px){
        display: none!important;
    }
}
 

.techin-t-slider-init .techin-t-slider-init-prev {
    left: -42%;
    transform: rotate(180deg);
    right: auto;
    // background-image: url(../../images/v1/arrow.svg);
    @include max (1399px){
        left: -40%;
    }
    @include max (1199px){
        top: -50%;
        left: 90%;
    }
    @include max (991px){
        top: -12%;
        left: 75%;

    }
    @include max (767px){
        display: none!important;
    }
}


.techin-t-slider-init{
    .slick-slide{
        margin: 0 12px;
    }
}
.techin-three-column {
    .slick-slide{
        &.slick-current.slick-active.slick-center{
            .techin-t-wrap2{
                background-color: var(--accent-bg);
                .techin-t-text{
                    p{
                        color: var(--white-color);
                    }
                }
                .techin-t-author-content{
                    h6{
                        color: var(--white-color);
                    }
                    p{
                        color: var(--white-color);
                    }
                }
                .techin-t-ratting{
                    path{
                        fill: var(--white-color);
                    }
                }
                .shape-hide{
                    opacity: 1;
                }
                .techin-t-author-icon{
                    path{
                        fill: var(--white-color);
                    }
                }
            }
        }
    }
    
    .slick-list{
        padding: 0 !important;
    }
}