
.techin-footer{
  &-section{
    margin-top: -155px;
    padding-top: 270px;
    background-position: center;
    background-size: cover;
    @include max (991px){
      padding-top: 240px;
      margin-top: -180px;
    }
    @include max (767px){
      padding-top: 200px;
      margin-top: -150px;
    }
  }
  &-top{
    padding-bottom: 60px;
    @include max (991px){
      padding-bottom: 40px;
    }
    @include max (767px){
      padding-bottom: 30px;
    }
  }
  &-textarea{
    @include max(1199px) {
      max-width: 400px;
      margin-bottom: 40px;
    }
    @include max(767px) {
      margin-bottom: 30px;
    }
    img{
      margin-bottom: 20px;
      @include max (575px){
        max-width: 200px;
      }
    }
    p{
      line-height: 30px;
      margin-bottom: 28px;
      color: var(--light-color2);
    }
    &.dark-color{
      p{
        color: var(--body-color);
      }
    }
  }
  &-title{
    position: relative;
    &::before{
      content: "";
      position: absolute;
      bottom: -8px;
      left: 0;
      width: 52px;
      height: 4px;
      transition: all 0.4s;
      border-radius: 2px;
      background: var(--accent-bg);
    }
    h5{
      margin-bottom: 45px;
      color: var(--white-color);
      @include max(767px) {
      margin-bottom: 30px;
      }
    }
    p{
      color: var(--light-color2);
    }
    &.dark-color{
      h5{
        color: var(--heading-color);
      }
      p{
        color: var(--body-color);
      }
    }
    &.footer-one{
      &:before{
        bottom: -7px;
        left: 0;
        right: auto;
        height: 4px;
        background-color: var(--accent-bg2)!important;
      }
    }
  }
  &-menu{
    @include max(767px) {
      margin-bottom: 30px;
    }

    ul{
      li{
        margin-bottom: 8px;
        &:last-child{
          margin-bottom: 0;
        }
        a{
          position: relative;
          transition: all 0.4s;
          color: var(--white-color);
          svg{
            transition: all 0.4s;
            margin-right: 5px;
          }
          &:hover{
            color: var(--accent-color2);
            path{
              fill: var(--accent-bg2);
            }
          }
          &:before{
            content: "";
            position: absolute;
            bottom: -3px;
            left: auto;
            right: 0;
            height: 1px;
            width: 0;
            background-color: var(--accent-bg2);
            transition: all .3s ease;
          }
          &:hover:before{
            left: 12px;
            right: auto;
            width: 100%;
          }
        }
      }
    }
  }
  &-menu2{
    @include max(767px) {
      margin-bottom: 30px;
    }

    &:hover{
      ul{
        li{
          a{
            img{
              transform: scale(1.1);
            }
          }
        }
      }
    }
    ul{
      li{
        a{
          img{
            overflow: hidden;
            object-fit: cover;
            transition: all 0.4s;
          }
        }
      }
    }
  }
  &-info-thumb{
    padding-bottom: 20px;
    img{
      border-radius: 6px;
    }
  }
  &-info{
    padding: 20px 0;
    background: linear-gradient(90deg, #1B1885 0%, #2F2BEB 44%, #1B1885 100%);
    &-wraper{
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      flex-wrap: wrap;
      gap: 30px;
      @include max(575px) {
        gap: 15px;
      }
      &::before{
        position: absolute;
        content: "";
        top: 0;
        left: 37%;
        width: 1px;
        height: 60px;
        border-right: 1px solid var(--heading-color);
        @include max (1399px){
          display: none;
        }
      }
      &::after{
        position: absolute;
        content: "";
        top: 0;
        left: 69%;
        width: 1px;
        height: 60px;
        border-right: 1px solid var(--heading-color);
        @include max (1399px){
          display: none;
        }
      }
    }
    &-item{
      display: flex;
      gap: 20px;
      align-items: center;
    }
    &-text{
      h5{
        color: var(--white-color);
      }
      span{
        font-size: 16px;
        font-weight: 700;
        line-height: 26px;
        color: var(--white-color);
      }
      &.info1{
        h5{
          color: var(--heading-color);
        }
        span{
          color: var(--heading-color);
          padding-bottom: 5px;
        }
      }
    }
  }
  &-bottom{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include max(991px) {
      padding: 25px 0;
      text-align: center;
    }
    @include max(767px) {
      display: block;
      text-align: center;
    }
    &.center{
      text-align: center;
    }
    &.one{
      border-top: 1px solid var(--light-color1);
    }
    .techin-copywright{
      p{
       color: var(--white-color);
       font-weight: 700;
       font-family: $heading-font;
       span.footer-text{
         color: var(--accent-color2);
       }
       @include max(767px) {
        margin-bottom: 15px;
      }
      }
      &.dark-color{
       p{
         color: var(--body-color);
       }
     }
   }
   &.bottom2{
    padding: 30px 0 0 0;
   }
  }
  // end main footer
  &-section1{
    padding: 110px 0 30px;
    @include max (991px){
      padding: 80px 0 30px;
    }
    @include max (767px){
      padding: 60px 0 30px;
    }
  }
  &-info2{
    padding: 20px 60px;
    border-radius: 20px;
    background-color: var(--accent-bg2);
    @include max (767px){
      padding: 20px;
    }
  }
  // end two
  &-section3{
    padding: 110px 0 30px;
    margin: 0 60px;
    border-radius: 20px 20px 0 0;
    @include max (1399px){
      margin: 0 30px;
    }
    @include max (991px){
      padding: 80px 0 30px;
    }
    @include max (767px){
      padding: 60px 0 30px;
      margin: 0;
    }
  }
}


.ml-60{
  margin-left: 60px;
  @include max(1399px) {
    margin-left: 34px;
  }
  @include max(1199px) {
    margin-left: 0;
  }
}
.ml-35{
  margin-left: 35px;
  @include max(1399px) {
    margin-left: 0;
  }
}

// #map{
//   height: 100%;
//   width: 100%;
//   border-radius: 0px 30px 90px 0px;
//   @include max(991px) {
//     height: 500px;
//     border-radius: 0px 0px 70px 0px;
//   }
//   @include max(767px) {
//     height: 400px;
//   }
// }


.techin-instagram{
  &-wrap{
    gap: 24px;
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
  }
  &-thumb{
  position: relative;
  overflow: hidden;
  border-radius: 5px;
    img{
      width: 100%;
      transition: all 0.4s;
      object-fit: cover;
      &:hover{
        transform: scale(1.1);
      }
    }
  }
}