h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: $heading-font;
  color: var(--heading-color);
  font-weight: 700;
  margin: 0;
}
h1,
.h1 {
  font-size: 64px;
  line-height: 1.15em;
  color: var(--white-color);
  @include max(1199px) { 
    font-size: 55px;
  }
  @include max(991px) { 
    font-size: 48px;
  }
  @include max(767px) { 
    font-size: 36px;
  }
}

h2,
.h2 {
  font-size: 48px;
  line-height: 1.2em; /* 116.667% */
  @include max(767px) { 
    font-size: 34px;
  }
}

h3,
.h3 {
  font-size: 40px;
  line-height: 1.25em;
  @include max(991px) {
    font-size: 36px;
  }
}
h4,
.h4 {
  font-size: 30px;
  line-height: 1.3em;
}
h5,
.h5 {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.41em;
}
h6,
.h6 {
  font-size: 20px;
  line-height: 1.5em;
}

p{
  margin-bottom: 16px;
  @include max(767px) {
    margin-bottom: 20px;
  }
  &:last-child{
    margin-bottom: 0;
  }
}

// @each $cheadingfont in $headingfontSize {
//   $i: index($headingfontSize, $cheadingfont);
//   h#{$i},
//   .text-h#{$i} {
//     font-size: $cheadingfont;
//     line-height: nth($headingLineheight, $i);
//   }
// }


@for $i from 10 through 40 {
  .f-size-#{$i} {
    font-size: $i * 1px !important;
  }
}

@for $i from 10 through 40 {
  .line-height-#{$i} {
    line-height: $i * 1px !important;
  }
}

.font-bold{
  font-weight: 700;
}
.font-black{
  font-weight: 800;
}
.font-medium{
  font-weight: 500;
}
.font-normal{
  font-weight: 400;
}
.font-semibold{
  font-weight: 600;
}


// @each $currentfont in $bodyfontvariation {
//   $i: index($bodyfontvariation, $currentfont);
//   .body-font-#{$i} {
//     font-size: $currentfont;
//     line-height: nth($lineheightvariation, $i);
//   }
// }

